.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.leaflet-zoom-animated.leaflet-marker-icon,
.leaflet-zoom-animated.leaflet-popup {
  transition: transform 0.7s ease-in-out;
}

.leaflet-map-pane:not(.leaflet-zoom-anim)
  .leaflet-marker-pane
  svg.leaflet-zoom-animated[style*='scale']
  ~ .leaflet-zoom-animated.leaflet-marker-icon,
.leaflet-map-pane:not(.leaflet-zoom-anim)
  .leaflet-marker-pane
  svg.leaflet-zoom-animated[style*='scale']
  ~ .leaflet-zoom-animated.leaflet-popup {
  transition: transform 0.05s cubic-bezier(0, 0, 0.25, 1);
}

.leaflet-zoom-anim .leaflet-zoom-animated.leaflet-marker-icon,
.leaflet-zoom-anim .leaflet-zoom-animated.leaflet-popup {
  transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
}

.leaflet-marker-icon > div {
  width: inherit;
  height: inherit;
}

.leaflet-control-attribution,
.leaflet-control-attribution a {
  color: #666;
}

.dark .leaflet-container .leaflet-layer:first-of-type {
  filter: invert(1);
}

.dark .leaflet-container .leaflet-layer:nth-of-type(2) {
  filter: invert(1);
}

.dark .leaflet-container .leaflet-control-attribution {
  background: rgba(55, 55, 55, 0.7);
}

.dark .leaflet-control-attribution,
.dark .leaflet-control-attribution a {
  color: #818181;
}
